.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
}

.footer__columns {
  margin: 60px 0 40px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column {
  color: white;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-link {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__list {
  margin: 20px 0 0;
  padding: 0;
  list-style: none;
}

.footer__social-icons {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
