.header__container {
  width: 90%;
  max-width: 1440px;
  height: 100vh;
  min-height: 637px;
  max-height: 756px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
